html, body {
    height: 100%;
    margin: 0;
}
p,ul{text-align:left;}
.cover {
    background: url(/img/bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.coverpost {
    background: url(/img/bgpj.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btbg {
    position: relative;
    top: -150px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-gray {
    color: #797979;
}

.paddheader {
    padding-top: 110px;
    padding-bottom: 110px;
}
#posts img {
    height: 108px;
}

#posts a {
    color: #797979;
}

#posts h4 {
    text-width
}

@media screen and (max-width: 640px) {
    .btbg {
        position: relative;
        top: -120px;
    }
}

@media screen and (max-width: 500px) {
    .btbg {
        position: relative;
        top: -110px;
    }
}