html, body {
    height: 100%;
    margin: 0;
}
p,ul{text-align:left;}
.cover {
    background: url(/img/bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.coverpost {
    background: url(/img/projets.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.paddcoverpost {
    padding-bottom: 27%;
}
.btbg {
    padding-right: 40px;
    position: absolute;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-gray {
    color: #797979;
}

#posts img {
    height: 108px;
}
