---
layout: default
---
    <header>
      <div class="cover90">
      </div>
      <div class="row">
        <div class="large-offset-4 small-offset-2 large-5 columns end">
          <img class="center" src="img/btdecouvert.jpg">
        </div>
      </div>
    </header>

    <section id="posts">
      <div class="row">
        <div class="large-offset-3 large-9 columns">
          <div class="row">
            <div class="large-4 columns">
              <img src="img/bg.jpg">
            </div>
            <div class="large-8 columns">
              <h4>Des outils ludo-éducatifs pour faire découvrir aux enfants la laïcité</h4>
              <p>Association ENQUÊTE</p>
              <p>Paris, Grigny, Lille, Lyon, Marseille, Bordeaux, Nice, Strasbourg … Comment répondre aux tensions ?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--        {% for post in site.posts %}
        <li class="fndsa_lactualite_box_wrapper">
          <div class="fndsa_lactualite_box">
            <div class="fndsa_lactualite_box_title">{{post.title}}</div>
            <hr/>
            <div class="fndsa_lactualite_box_content">
              {% if post.mode == 'titre + image' %}
              <img src="{{post.vignette_path}}"  alt="">
              {% else %}
              <p>{{ post.excerpt }}</p>
              {% endif %}
            </div>
            <div class="fndsa_lactualite_box_more"><a href="{{post.url}}"><img src="img/plusblue.png" alt=""></a></div>
          </div>
        </li>
        {% endfor %} -->
