
  <section>
    <div class="container subheader editable">
      <h3>Nous rejoindre</h3>
      <p> Nous vous proposons plusieurs moyens de nous rejoindre. On compte sur vous ! </p>
      <p style="text-align: center;"><a href="https://dons.fondationdefrance.org/netful-presentation-association/FONDS_11_JANVIER/fse/index.html" class="button">Je fais un don</a></p>

      <p style="text-align: center;">
        <a href="https://www.facebook.com/jerepondsfraternite" target="_blank"><img src="/img/facebook.jpg"></a>
        <a href="https://twitter.com/jerepondsfrater" target="_blank"><img src="/img/twitter.jpg"></a>
      </p>
      <p>
        <a style="text-align: center;" href="https://twitter.com/hashtag/jerepondsfraternit%C3%A9?src=hash" target="_blank">#jerépondsfraternité</a>
      </p>
    </div>
  </section>
    <footer>
		<div class="container editable">
			<p>&copy; Un site produit par le <a href="http://www.fondsdu11janvier.org/">Fonds du 11 janvier</a> et le CFF.</p>
		</div>
    </footer>
