<section class="hero sticky" style="background-image:none">
	<div class="container">
		<h1 class="editable" style="padding:3rem 0"><a href="https://dons.fondationdefrance.org/netful-presentation-association/FONDS_11_JANVIER/fse/index.html" target="_blank"><img class="center" src="/img/don.png"></a></h1>
	</div>
</section>
<section>
	<div class="container">
		<h3 class="text-center"><a href="/#projet"><img src="/img/btdecouvert.jpg"></a></h3>
		<p class="text-center">
			<a href="https://www.facebook.com/jerepondsfraternite" target="_blank"><img src="/img/facebook.jpg"></a>
			<a href="https://twitter.com/jerepondsfrater" target="_blank"><img src="/img/twitter.jpg"></a>
		</p>
  </div>
</section>
