---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if page.meta.title %}{{ page.meta.title }}{% else %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ page.description }}{% endif %}" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/fndsa.css" />
    <script src="/js/foundation/vendor/modernizr.js"></script>
  </head>
  <body>

    {{ content }}



    <script src="/js/foundation/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/js/fndsa.js"></script>
    <script type="text/javascript">
      (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
      (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
      e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
      })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

      _st('install','zBRxLRR8jHaKk9x5Zzzs','2.0.0');
    </script>

  </body>
</html>
