<!doctype html>
<html class="no-js" lang="{{ site.header.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.title}}</title>
    <meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ page.description }}{% endif %}" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    {{content}}
    {% include footer.html %}
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
    var height = 0;
    height = $(window).height();
    $("#bg-width").css("height", height * 0.85 + "px");
    $( window ).resize(function() {
      height = $(window).height();
      $(".paddbutton").css("height", height * 0.85 + "px");
      $(".paddbutton").css("height", height * 0.85 + "px");
    });
    </script>
  </body>
</html>