---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if page.meta.title %}{{ page.meta.title }}{% else %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ page.description }}{% endif %}" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/fndsa.css" />
    <link rel="stylesheet" href="vendors/leaflet-0.7.5/leaflet.css" />
    <script src="js/foundation/vendor/modernizr.js"></script>
  </head>
  <body>
    
    {{ content }}   

    <script src="js/foundation/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.min.js"></script>
    <script src="vendors/leaflet-0.7.5/leaflet.js"></script>
    <script src="js/fndsa.js"></script>
    <script>
      $(document).foundation({
        orbit : {
          timer: true,
          slide_number: false,
          navigation_arrows: true,
          timer_speed: 2000,
          resume_on_mouseout: true,
          pause_on_hover: false
        }
      });

      $(document).ready(function(){
        Map();
      });
    </script>
    

  </body>
</html>   



    