---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <link rel="shortcut icon" href="favicon.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:900,400,300" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
	{% include hero_index_interne.html %}
  <section id="projet" class="alternate-section">
    <div class="row">
      <div class="large-offset-2 large-8 columns">
        <h3>{{page.title}}</h3>
        <p><em>{{page.categorie}}</em></p>
        {{content}}
      </div>
    </div>
  </section>
  {% include footer.html %}
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
$(document).ready(function() {
    var stickyNavTop = $('.nav').offset().top;
    var stickyNav = function(){
        var scrollTop = $(window).scrollTop();
        if (scrollTop > stickyNavTop) { 
            $('.nav').addClass('sticky');
        } else {
            $('.nav').removeClass('sticky'); 
        }
    };
    stickyNav();
    $(window).scroll(function() {
        stickyNav();
    });
});
    </script>
  </body>
</html>
