---
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Faire face aux problèmes d’incivilité, redonner sens et valeur à la citoyenneté">
    <meta name="author" content="Adfinitas">
	<meta property="og:site_name" content="NOM_DU_SITE" /> 
	<meta property="fb:admins" content="ID_FACEBOOK_DU_WEBMASTER" /> 
	<meta property="fb:page_id" content="ID_PAGE_FACEBOOK" /> 
	<meta property="og:type" content="CONTENT_TYPE" />
	<meta property="og:image" content="SHARE_IMG" /> 
	<meta property="og:url" content="SHARE_URL" /> 
	<meta property="og:title" content="SHARE_TITLE" /> 
	<meta property="og:description" content="SHARE_DESCRIPTION" />

    <title>Je reponds fraternite</title>
    <link rel="shortcut icon" href="favicon.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:900,400,300" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body>
  {% include hero_index.html %}
  {{content}}
  {% include footer.html %}
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
